* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/repeated-square-dark.webp');
    background-repeat: repeat;
    overflow-x: hidden;
}

div.input {
    width: 100%;
}

.col div.input span, .col div.input input[type=checkbox] {
    float: left;
}

.col input[type=checkbox] {
    margin: 6px 5px;
}

.col div.input select {
    float: right;
}

.selection, .selection > * {
    width: 100% !important;
    font-size: .95em;
}

#form > div.input {
    margin: 5px;
    padding: 5px;
}

#form {
    margin: auto;
    background-color: #fff !important;
    padding: 20px;
}

#form h1 {
    text-align: center;
    margin: 20px 0;
}

#chartContainer {
    margin: auto;
    padding-bottom: 100px;
    position: relative;
    height: 5000px;
}

#chart {
    width: 100% !important;
    height: 100% !important;
}

div#units {
    color: #fff;
    position: absolute;
    bottom: 200px;
    right: 100%;
}

/* @media (max-width: 500px)  { 
    #chartContainer {
        min-height: 1000px !important;
    }

    .go-back {
        top: 5px !important;
    }
}

@media (min-width: 501px)  { 
    #chartContainer {
        height: 1200px !important;
    }
} */

@media (max-width: 960px) {
    div#units {
        bottom: 5%;
        right: 0%;
    } 

    div#units p {
        display: inline !important;
        padding: 5px;
    }
}

